
@use "../utility/breakpoints.scss";
.header{
    display: grid;
    gap: 1rem;
    @media screen and (min-width: breakpoints.$md) {
        display: flex;
        justify-content: space-between;
    }
    &__heading {
        text-transform: uppercase;
        &--small {
        font-size: clamp(1.5rem, 2vw, 2.5rem);
        }
        &--large {
        font-size: clamp(2rem, 4vw, 4rem);
        }
    }
    &__actions {
        align-self: flex-end;
    }
}
