$color_black: #000;
$color_white: #fff;
$color_grey_01: #EFEFEF;
$color_grey_02: #ECECEC;
$color_grey_03: #EBEBEB;
$color_grey_04: #CCC;
$color_grey_05: #999;
$color_brown: #8A7147;

// If time permited, I would map the variables above to more contextual variables such as typography_primary, typography_secondary etc..
